.container {
  height: 100vh;
}

.container p {
  text-align: center;
  font-size: 25px;
}

.product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 40px;
  width: 100%;
  background-color: #F5F5F5;
  min-width: 480px;
}

.product .add-product {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.product p {
  display: flex;
  align-items: center;
  padding: 5px;
}

.product .add-product label {
  width: 150px;
  font-size: 16px;
  text-align: left;
  color: #333;
}

.product input {
  width: 250px;
  padding: 10px;
}

.add-product .error {
  color: red;
  font-size: 14px;
  text-align: justify;
  margin-left: 152px;

}

.product button {
  margin: 0 157px;
  padding: 10px;
  font-size: 16px;
  background-color: black;
  color: yellow;
  border-radius: 5px;
  outline: none;
  width: 200px;
  cursor: pointer;
}

.product .preview {
  display: flex;
  width: 50%;
  flex-direction: row;
  justify-content: space-around;
  min-width: 480px;
}

.preview img {
  width: 450px;
  margin-right: 20px;
}

.preview .description {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #333;
  justify-content: center;
}

.preview .description span {
  color: #333;
  font-size: 15px;
}

@media screen and (max-width: 1340px) {
  .product {
    display: flex;
    flex-direction: column;
  }

  .product .add-product {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: 40px;
  }
  
  .product p {
    display: flex;
    align-items: center;
    padding: 10px;
  }

  .product .preview {
    width: 100%;
  }

  .product .preview img {
    margin-right: 20px;
  }

  .product .preview p {
    padding: 0;
  }
}

@media screen and (max-width: 900px) {
  .product .preview {
    display: flex;
    flex-direction: column;
  }
}


@media screen and (max-width: 600px) {
  .product .add-product {
    min-width: 480px;
  }

  .product input {
    width: 180px;
  }

  .product .add-product label {
    width: 150px;
    margin-right: 5px;
    font-size: 16px;
    color: #333;
  }
}